@import url('https://fonts.googleapis.com/css2?family=Manrope');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
}

.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 
h1, p{
    color: white;
    text-align: center;
} */